body {
  background: rgb(206, 212, 218);
  background: linear-gradient(
    90deg,
    rgba(206, 212, 218, 1) 0%,
    rgba(248, 249, 250, 1) 50%,
    rgba(206, 212, 218, 1) 100%
  );
  font-family: "Lato", sans-serif;
}

.container {
  width: 1000px;
  margin: 100px auto;
}

main {
  box-shadow: 3px 3px 20px 3px #868e96;
  display: flex;
  height: 600px;
  position: relative;
  margin-bottom: 35px;
}

.image img {
  width: 900px;
  height: 600px;
  object-fit: cover;
}

.title {
  position: absolute;
  left: 50px;
  bottom: 0px;
  width: 900px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.4);
}

.title h1,
.title p {
  padding: 0 30px;
}

.title h1 {
  color: #f1f3f5;
}

.title p {
  color: #ced4da;
  font-size: 18px;
  padding-bottom: 20px;
}

.left-arrow {
  width: 50px;
  height: 100%;
  background-color: #f1f3f5;
  display: flex;
}

.left-arrow img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.right-arrow {
  width: 50px;
  height: 100%;
  background-color: #f1f3f5;
  display: flex;
}

.right-arrow img {
  width: 30px;
  height: 30px;
  transform: rotate(0.5turn);
  margin: auto;
}

aside {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.thumb {
  position: relative;
}

.thumb img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 5px solid #868e96;
  box-shadow: 2px 2px 20px 2px #495057;
}

.thumb .thumb-active {
  transform: translateY(-8px);
  box-shadow: 4px 4px 10px 6px #495057;
}

.dog-name {
  position: absolute;
  top: -30px;
  left: -15px;
  background-color: rgba(41, 42, 43, 0.7);
  color: #f1f3f5;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  display: none;
}

.thumb:hover .dog-name {
  display: block;
}
